/* Empty. Add your own CSS if you like */
.bar-balanced {
	box-shadow: 0px 5px 5px grey;

}

.card.list {
	-webkit-border-top-left-radius: 10px !important;
	-webkit-border-top-right-radius: 10px !important;
}

.item.item-avatar-left{
	background: #9ff59f !important;
}

.item.item-body img{
	max-height: 100% !important;
	max-width: 100% !important;
}